{% extends "base.html" %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
<h1>About</h1>

  <p>
    This page was developed by <b>Yair Telezon</b> at age 27. Yair loves mostly to code in the backend of projects, even though he likes the frontend development too. He knows technologies such as <b><i>Python, Django, JS, Flutter, Java, C, C++, HTML, CSS, jQuery, SQL</i></b> and has worked with different agile methodologies such as <b><i>Scrum and Kanban</i></b>.
  </p>
{% endblock content %}